.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  background-color: var(--background-color);
}
.Input {
  display: flex;
  color: var(--primary-color);
  background-color: var(--foreground-color);
  border: none;
  border-radius: 14px;
  padding: 6px;
  width: 100%;
  height: 35px;
}
.Input:focus {
  outline: none;
  border-color: #1c4aca;
  background-color: var(--focus-color);
}
.label {
  color: var(--primary-color);
  display: inline-block;
  width: auto;
}
