nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: var(--background-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  width: 100%;
  z-index: 0;
}
ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
}
li {
  display: flex;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 90px;
  border-radius: 9px;
}
.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 380;
  min-width: 40%;
}
.Button-login {
  background-color: rgb(33, 116, 211);
  border: none;
  color: white;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  text-decoration: none;
  width: 65px;
  min-width: 65px;
  max-width: 65px;
}
.Button-login:hover {
  background-color: rgb(65, 131, 206);
}
.Button-profile {
  background-color: var(--foreground-color);
  border: none;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  padding: 6px;
  border-radius: 8px;
  text-decoration: none;
  height: 30px;
  width: auto;
  max-width: 120px;
  min-width: 65px;
}
.user-name {
  font-size: 16px;
  color: var(--primary-color);
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.logout-form {
  width: auto;
}
.Button-signup {
  background-color: var(--foreground-color);
  border: none;
  color: var(--primary-color);
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  text-decoration: none;
  width: 65px; /* fixed width */
  min-width: 65px; /* prevents shrinking below this value */
  max-width: 65px; /* prevents growing beyond this value */
}

.Button-signup:hover {
  background-color: var(--foreground-color);
}
.Button-cart {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 65px;
  background-color: transparent;
  border: 1px solid #a1a1a1;
  color: var(--secondary-color);
  font-size: 16px;
  cursor: pointer;
  gap: 4px;
  border-radius: 8px;
  min-width: 65px;
}
.Button-cart:hover {
  background-color: var(--foreground-color);
}
.counter {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  width: 20px;
  font-weight: 600;
  border-radius: 35%;
  transition: color 0.3s;
}
.group {
  display: flex;
  width: 350px;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.Button-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
  text-align: center;
}
.search-small {
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  border: none;
  background-color: var(--foreground-color);
}
.profile-pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
@media (max-width: 480px) {
  ul {
    justify-content: space-between;
  }
  .Button-signup {
    display: none;
  }
  .Button-profile {
    display: none;
  }
  .Button-login {
    display: none;
  }
  .group {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
  }
  .logout-form {
    display: none;
  }
  .search {
    display: none;
  }
  .search-small {
    display: flex;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .search {
    width: 250px;
  }
  .Button-signup {
    display: none;
  }
  .Button-profile {
    display: none;
  }
  .logout-form {
    display: none;
  }
  .Button-login {
    display: none;
  }
  .group {
    width: auto;
  }
}
